html {
  background: linear-gradient(55deg, #261906 0%, #52361d 51%, #261906 85%);
  scroll-snap-type: y proximity;
  overflow-x: hidden;
  scroll-behavior: smooth; }

* {
  font-family: "Charter", Charter, monospace; }

body {
  background-color: none; }

p {
  margin: 0;
  color: #ffab23;
  font-size: 30px; }

h1 {
  color: #ffab23; }

h2 {
  color: #ffab23; }

a {
  text-decoration: none;
  font-size: 25px;
  color: #ffab23; }

section {
  height: 100vh;
  width: auto;
  scroll-snap-align: start; }

.wrapper {
  z-index: 2; }

.vertical-bg {
  position: fixed;
  height: 100%;
  width: 70vw;
  background-color: #76552c;
  margin: 0 15vw 0 15vw;
  z-index: -1; }

.section-break {
  height: 248px; }
  .section-break-half {
    height: 62px; }

.section-padding-top {
  height: 50px; }

.section-home {
  padding: 0px; }

.grid {
  display: grid;
  width: 100%;
  height: 87%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; }
  .grid div {
    padding: 10px; }
  .grid-margin {
    height: 100%;
    margin: 0 45px; }
  .grid-home {
    z-index: 0;
    display: grid;
    width: 100%;
    height: 87%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "home home home home home home home" "home home home home home home home" "home home home home home home home" "home home home home home home home" "home home home home home home home"; }
    .grid-home div {
      padding: 10px; }
    .grid-home div {
      padding: 0px; }
  .grid-row {
    display: grid;
    width: 100%;
    height: 87%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". row1 row1 row1 row1 row1 ." ". row2 row2 row2 row2 row2 ." ". row3 row3 row3 row3 row3 ." ". row4 row4 row4 row4 row4 ." ". row5 row5 row5 row5 row5 ."; }
    .grid-row div {
      padding: 10px; }
  .grid-about {
    display: grid;
    width: 100%;
    height: 87%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". title title title title title ." ". aboutText aboutText aboutText selfImage selfImage selfImage " ". aboutText aboutText aboutText selfImage selfImage selfImage " ". aboutText aboutText aboutText selfImage selfImage selfImage " ". . . . . . ."; }
    .grid-about div {
      padding: 10px; }
  .grid-work-overview {
    display: grid;
    width: 100%;
    height: 87%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "overview overview overview overview overview overview overview" "overview overview overview overview overview overview overview" "overview overview overview overview overview overview overview" "overview overview overview overview overview overview overview" "offStart overviewInfo overviewInfo overviewDesc overviewDesc overviewDesc offEnd"; }
    .grid-work-overview div {
      padding: 10px; }
    .grid-work-overview div {
      padding: 0px; }
  .grid-work-making {
    display: grid;
    width: 100%;
    height: 87%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". makingTitle makingTitle makingTitle makingTitle makingTitle." ". makingPic1 makingPic1 makingPic1 makingDesc1 makingDesc1 ." ". makingPic1 makingPic1 makingPic1 makingDesc1 makingDesc1 ." ". makingPic2 makingPic2 makingPic2 makingDesc2 makingDesc2 ." ". makingPic2 makingPic2 makingPic2 makingDesc2 makingDesc2 ."; }
    .grid-work-making div {
      padding: 10px; }

.item-home {
  grid-area: home; }

.item-row-1 {
  grid-area: row1; }

.item-row-2 {
  grid-area: row2; }

.item-row-3 {
  grid-area: row3; }

.item-row-4 {
  grid-area: row4; }

.item-row-5 {
  grid-area: row5; }

.item-about-title {
  grid-area: title; }

.item-about-text {
  grid-area: aboutText; }

.item-about-self {
  grid-area: selfImage; }

.item-work-overview {
  grid-area: overview; }

.item-work-info {
  grid-area: overviewInfo; }

.item-work-desc {
  grid-area: overviewDesc; }

.item-work-offStart {
  grid-area: offStart; }

button {
  background-color: #261906;
  width: 200px;
  height: 60px;
  margin-right: 3em;
  cursor: pointer;
  border-radius: 16px;
  border: none; }
  button.end {
    margin-right: 0;
    width: 800px;
    height: 100px;
    background-color: #261906;
    font-size: 50px; }

.hide-scroll::-webkit-scrollbar {
  display: none; }

.hide-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

.hamburger-bar {
  display: none; }

/* The Overlay (background) */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  /* The navigation links inside the overlay */
  /* Position the close button (top right corner) */ }
  .overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px; }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffab23;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
    /* When you mouse over the navigation links, change their color */ }
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1; }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #ffab23; }

.vector-home {
  display: flex;
  justify-content: center; }
  .vector-home img {
    max-width: 100%;
    height: auto;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto; }

#hexagon {
  width: 100px;
  height: 57.735px;
  background: red;
  position: relative; }
  #hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid red; }
  #hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red; }

.nav {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  display: flex;
  align-items: center; }
  .nav-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 40vw;
    margin: 0; }
    .nav-menu a {
      font-size: 20px;
      margin-right: 1em;
      color: #ccc;
      transition: all 50ms ease-in-out;
      text-decoration: none;
      display: block; }
      .nav-menu a:hover, .nav-menu a:focus {
        color: #ffab23; }
    .nav-menu ol {
      margin: 0 1em 0 1em;
      display: flex;
      justify-content: space-around;
      width: 40vw;
      padding: 0px; }

#nav-active {
  color: #ffab23; }

.logo {
  flex-grow: 3; }
  .logo img {
    margin-left: 1em;
    margin-right: 2em;
    margin-top: 5px;
    height: 35px;
    width: auto; }

.hero-text {
  position: absolute;
  z-index: 1;
  margin-bottom: 3em;
  color: #ffab23; }

.hero-picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url(http://www.thelockup.org.au/images/whats-on/next_to_nothing/IMG_9259.jpg); }

.flex {
  display: flex; }
  .flex-center {
    align-items: center; }

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 1em; }
  .container-vertical {
    position: relative;
    background-color: #76552c;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 15vw;
    height: 100%;
    width: 70vw; }
  .container-width {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; }
  .container-wrap {
    display: flex;
    flex-direction: row;
    padding: 2px 10px; }
  .container-about {
    padding: 3em;
    display: flex;
    flex-direction: row; }
    .container-about-item {
      align-self: center;
      width: 60%;
      margin-right: 3em;
      margin-top: 3em; }
    .container-about span {
      position: absolute;
      margin-left: 65%; }
  .container-work {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center; }
    .container-work-text h1 {
      font-size: 50px; }
    .container-work-text p {
      font-size: 25px;
      padding-bottom: 10px; }
  .container-contact {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .container-contact-items {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center; }
      .container-contact-items a {
        font-size: 50px;
        padding: 2rem 0 2rem 0; }
    .container-contact-end {
      height: 50vh; }
    .container-contact h1 {
      font-size: 70px; }
    .container-contact a {
      font-size: 40px;
      text-decoration: underline; }
  .container-center {
    display: flex;
    justify-content: center;
    align-content: center; }
  .container h1 {
    font-size: 48px; }

.circle {
  height: 100%;
  width: 100%;
  background-color: #52361d;
  border-radius: 50%;
  display: inline-block; }

.img {
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }
  .img-overview {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto; }
  .img-sprite {
    position: absolute;
    width: auto;
    height: 100px;
    margin-left: -10%;
    margin-top: 2%; }

.desc {
  color: #fcb268; }

.passageStops {
  background-color: black;
  /* Each indicator stop is black */
  mix-blend-mode: overlay;
  /* This makes it appear white on a white background */
  width: 25%;
  /* Three sections total, so each section is one-third */
  top: calc(1em + 3px); }

#passage,
.passageStops {
  height: 10px; }

#passageWrapper,
.passageStops {
  position: sticky;
  /* The container and stops should stick to the top */
  z-index: 1;
  /* Make sure the indicator and stops stay at the forefront */ }

#passage {
  background: violet;
  /* Will blend with black to make a darker violet indicator */
  margin: 0 0 20px 0; }

#passageWrapper {
  background-color: white;
  /* Make sure we're working with white to hide indicator stops */
  height: 40px;
  top: 0px; }

/* Each stop will shift one-third the width of the indicator container to cover the whole thing when the last section is reached. */
.passageStops:nth-child(4) {
  margin-left: 25%; }

.passageStops:nth-child(6) {
  margin-left: 50%; }

.passageStops:nth-child(8) {
  margin-left: 75%; }

.shake {
  animation: shake 1s infinite; }

.erase {
  animation: shake 1s infinite erase 5s;
  animation-duration: 5s; }

.end-text {
  display: none; }

@media (max-width: 1000px) {
  p {
    font-size: 1em; }
  .nav {
    justify-content: space-between; }
  .nav-menu {
    display: none; }
  .burger-bar {
    display: initial;
    width: 25px;
    height: 4px;
    background-color: #ffab23;
    margin: 6% 0%; }
  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 2%; }
  button {
    background-color: #261906;
    width: 100px;
    height: 30px;
    margin-right: 3em;
    cursor: pointer;
    border-radius: 16px;
    border: none; }
    button.end {
      margin-right: 0;
      width: 400px;
      height: 50px;
      background-color: #261906;
      font-size: 25px; }
  .container-width {
    font-size: 14px; }
    .container-width .m-text {
      font-size: 1.6rem; }
    .container-width .s-text {
      font-size: 1rem; }
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 1em; }
    .container-vertical-about {
      padding: 3em;
      display: flex;
      flex-direction: row; }
      .container-vertical-about-item {
        align-self: center;
        width: 60%;
        margin-right: 3em;
        margin-top: 3em; } }

@media (max-width: 472px) {
  .nav-menu {
    display: none; }
  button {
    background-color: #261906;
    width: 80px;
    height: 27px;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 16px;
    border: none; }
    button.end {
      margin-right: 0;
      width: 270px;
      height: 50px;
      background-color: #261906;
      font-size: 17px; }
  .container-width {
    font-size: 8px; }
    .container-width .m-text {
      font-size: 0.9rem; }
    .container-width .s-text {
      font-size: 0.6rem; } }
