$primary-color: (#ffab23);
$secondary-color: (#52361d);
$tertiary-color: (#261906);
$quaternary-color: (#76552c);
$quinary-color: (#332217);
$senary-color: (#fcb268);

$section-color-1: green;

$quotation-size: (50px);

$nav-size: (50px);

$middle-section-size: (70vw);

html {
  scroll-snap-type: y proximity;
  background: linear-gradient(55deg, $tertiary-color 0%, $secondary-color 51%, $tertiary-color 85%);
  // hide horizontal scroll bar
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  font-family: "Charter", Charter, monospace;
}

body {
  background-color: $tertiary-color;
}

p {
  margin: 0;
  color: $primary-color;
}

h1 {
  color: $primary-color;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: $primary-color;
}

section {
  height: 100vh;
  width: $middle-section-size;
  scroll-snap-align: start;
  // scroll-padding: 1000px;
  padding-top: $nav-size;
  margin: 0;
}

button {
  background-color: $tertiary-color;
  width: 200px;
  height: 60px;
  margin-right: 3em;
  cursor: pointer;
  border-radius: 16px;
  border: none;
  &.end {
    margin-right: 0;
    width: 800px;
    height: 100px;
    background-color: $tertiary-color;
    font-size: 50px;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hamburger-bar {
  display: none;
}
/* The Overlay (background) */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  &-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px;
  }
  /* The navigation links inside the overlay */
  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: $primary-color;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    /* When you mouse over the navigation links, change their color */
    &:hover,
    &:focus {
      color: #f1f1f1;
    }
  }
  /* Position the close button (top right corner) */
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: $primary-color;
  }
}

#vector-home {
  position: absolute;
  left: 0px;
  top: $nav-size;
  z-index: 0;
}
.vector-home {
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    max-width: 100%;
    height: auto;
    margin-top: 8em;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
  }
}

#hexagon {
  width: 100px;
  height: 57.735px;
  background: red;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid red;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
  }
}

.nav {
  height: $nav-size;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  display: flex;
  align-items: center;

  &-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0;
    a {
      font-size: 20px;
      margin-right: 1em;
    }
  }
}

.logo {
  margin-left: 1em;
  margin-right: 2em;
  flex-grow: 3;
}

.hero {
  &-text {
    position: absolute;
    z-index: 1;
    margin-bottom: 3em;
    color: $primary-color;
  }
  &-picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url(http://www.thelockup.org.au/images/whats-on/next_to_nothing/IMG_9259.jpg);
  }
}
.flex {
  display: flex;
  &-center {
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  &-width {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  &-wrap {
    padding: 2px 10px;
  }
  &-vertical {
    position: relative;
    background-color: $quaternary-color;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: $middle-section-size;
  }
}

.desc {
  display: none;
}

.shake {
  animation: shake 1s infinite;
}

.erase {
  animation: shake 1s infinite erase 5s;
  animation-duration: 5s;
}

.end-text {
  display: none;
}

@media (max-width: 1000px) {
  .nav {
    justify-content: space-between;
  }
  .nav-menu {
    display: none;
  }

  .burger-bar {
    display: initial;
    width: 25px;
    height: 4px;
    background-color: $primary-color;
    margin: 6% 0%;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 2%;
  }
  button {
    background-color: $tertiary-color;
    width: 100px;
    height: 30px;
    margin-right: 3em;
    cursor: pointer;
    border-radius: 16px;
    border: none;
    &.end {
      margin-right: 0;
      width: 400px;
      height: 50px;
      background-color: $tertiary-color;
      font-size: 25px;
    }
  }
  .container-width {
    font-size: 14px;
    .m-text {
      font-size: 1.6rem;
    }

    .s-text {
      font-size: 1rem;
    }
  }
}

@media (max-width: 472px) {
  .nav-menu {
    display: none;
  }
  button {
    background-color: $tertiary-color;
    width: 80px;
    height: 27px;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 16px;
    border: none;
    &.end {
      margin-right: 0;
      width: 270px;
      height: 50px;
      background-color: $tertiary-color;
      font-size: 17px;
    }
  }
  .container-width {
    font-size: 8px;
    .m-text {
      font-size: 0.9rem;
    }

    .s-text {
      font-size: 0.6rem;
    }
  }
}
